<footer class="m-0.5 rounded-lg bg-white shadow dark:bg-gray-800 md:m-1">
    <div class="mx-auto flex w-full max-w-screen-xl flex-col-reverse items-center justify-center p-1 md:flex-row md:justify-between md:p-4">
        <span class="text-xs text-gray-500 dark:text-gray-400 sm:text-center md:text-sm">
            &copy; 2024 <a class="cursor-pointer hover:underline" href="https://www.RoyDefined.com/">RoyDefined</a>. All Rights Reserved.
        </span>
        <ul class="mt-1 flex flex-wrap items-center gap-2 text-sm font-medium text-gray-500 dark:text-gray-400 md:mt-0">
            <li>
                <!-- TODO: Use proper images. -->
                <a href="https://www.patreon.com/RoyDefinedProjects" class="button flex">
                    <div class="me-1 h-5 w-5 bg-[url('assets/logo/patreonlogo.png')] bg-contain bg-center bg-no-repeat"></div>
                    Patreon
                </a>
            </li>
            <li>
                <a href="https://github.com/RoyDefined" class="button flex">
                    <div class="me-1 h-5 w-5 bg-[url('assets/logo/githublogo.png')] bg-contain bg-center bg-no-repeat"></div>
                    Github
                </a>
            </li>
            <li>
                <a href="https://Discord.RoyDefined.com/" class="button flex">
                    <div class="me-1 h-5 w-5 bg-[url('assets/logo/discordlogo.png')] bg-contain bg-center bg-no-repeat"></div>
                    Discord
                </a>
            </li>
        </ul>
    </div>
</footer>
