<section class="flex justify-center align-middle">
    <div class="relative mr-5 hidden w-64 sm:block">
        <img ngSrc="assets/logo/logo2.png" class="object-contain" fill priority />
    </div>

    <div class="py-20 text-center">
        <h1 class="default-text-color-highlight mb-4 text-4xl font-extrabold leading-none tracking-tight md:text-5xl lg:text-6xl">WebDoomer</h1>
        <p class="mb-8 text-lg font-normal sm:px-6 md:px-16 lg:px-48 lg:text-xl">Query Zandronum servers on the web.</p>
        <div>
            <a
                routerLink="servers"
                class="mx-7 inline-flex cursor-pointer items-center justify-center rounded-lg bg-blue-800 px-5 py-3 text-center text-base font-medium text-white hover:bg-blue-900 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900"
            >
                servers
                <svg class="ml-2 h-3.5 w-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
                </svg>
            </a>
        </div>
    </div>
</section>
