<ng-template #settingsIcon>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" class="h-6 w-6">
        <circle cx="12" cy="12" r="3"></circle>
        <path
            d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"
        ></path>
    </svg>
</ng-template>
<ng-template #desktopIcon>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 17.25v1.007a3 3 0 01-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0115 18.257V17.25m6-12V15a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 15V5.25m18 0A2.25 2.25 0 0018.75 3H5.25A2.25 2.25 0 003 5.25m18 0V12a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 12V5.25"
        />
    </svg>
</ng-template>
<ng-template #sunIcon>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"
        />
    </svg>
</ng-template>
<ng-template #moonIcon>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 009.002-5.998z"
        />
    </svg>
</ng-template>

<nav class="min-h-14 bg-gray-100 p-3 pb-1 pl-3 shadow dark:bg-gray-700">
    <div class="flex">
        <div class="flex flex-grow">
            <a class="default-text-color-highlight relative mr-[6.5rem] h-8 w-8 cursor-pointer content-center pl-14 font-bold" [routerLink]="['/']">
                <img ngSrc="assets/logo1.png" class="object-contain" fill priority />WebDoomer
            </a>

            <ng-template *ngIf="headerLeftRef" [ngTemplateOutlet]="headerLeftRef"> </ng-template>
        </div>
        <div class="flex w-auto flex-row items-start gap-1">
            <ng-template *ngIf="headerRightRef" [ngTemplateOutlet]="headerRightRef"> </ng-template>

            <div class="flex gap-1">
                @if (isWindows && !isMobile) {
                    <button (click)="openConfigureScheme()" class="button">
                        <ng-container>
                            <ng-container *ngTemplateOutlet="settingsIcon"></ng-container>
                        </ng-container>
                    </button>
                }

                @if (settings$ | async; as settings) {
                    <button (click)="toggleDarkMode(settings.darkModeType || 'System')" class="button">
                        <ng-container *ngIf="!settings.darkModeType || settings.darkModeType === 'System'">
                            <ng-container *ngTemplateOutlet="desktopIcon"></ng-container>
                        </ng-container>
                        <ng-container *ngIf="settings.darkModeType === 'Light'">
                            <ng-container *ngTemplateOutlet="sunIcon"></ng-container>
                        </ng-container>
                        <ng-container *ngIf="settings.darkModeType === 'Dark'">
                            <ng-container *ngTemplateOutlet="moonIcon"></ng-container>
                        </ng-container>
                    </button>
                }
            </div>
        </div>
    </div>

    <ng-template *ngIf="headerBottomRef" [ngTemplateOutlet]="headerBottomRef"> </ng-template>

    @if (shouldShowConfigurationTip$ | async; as shouldShowConfigurationTip) {
        @if (shouldShowRegistryTip || shouldShowConfigurationTip || shouldShowWindowsOnlyTip) {
            <div class="default-text-color-highlight flex flex-col gap-1 bg-gray-100 p-1 text-sm font-bold dark:bg-gray-700">
                @if (shouldShowRegistryTip) {
                    <div
                        class="ml-5 flex flex-col items-baseline justify-between border-l-4 border-l-gray-300 bg-gray-100 p-1 pl-3 dark:border-l-slate-800 dark:bg-gray-700 lg:flex-row lg:gap-5"
                    >
                        <span class="text-balance">Joining a server through the web browser requires you to download Doomseeker and associate a url.</span>
                        <span class="flex gap-1">
                            <button (click)="openLearnMoreScheme()" class="button w-40">Learn more</button>
                            <button (click)="hideRegistryTip = true" class="button w-20">Hide</button>
                        </span>
                    </div>
                }

                <!-- Check if anything was configured. If so hide the message because it can be assumed the user can find the configuration. -->
                @if (shouldShowConfigurationTip) {
                    <div
                        class="ml-5 flex flex-col items-baseline justify-between border-l-4 border-l-gray-300 bg-gray-100 p-1 pl-3 dark:border-l-slate-800 dark:bg-gray-700 lg:flex-row lg:gap-5"
                    >
                        <span class="text-balance">Consider configuring your settings to improve the shared data in this application.</span>
                        <span class="flex gap-1">
                            <button (click)="openConfigureScheme()" class="button w-32">Configure</button>
                            <button (click)="hidePersonalConfigurationTip = true" class="button w-20">Hide</button>
                        </span>
                    </div>
                }

                <!--
                    The user was detected to run a non Windows OS.
                    I chose not to include mobile devices here because it seems obvious this is not possible.
                -->
                @if (shouldShowWindowsOnlyTip) {
                    <div
                        class="ml-5 flex flex-col items-baseline justify-between border-l-4 border-l-gray-300 bg-gray-100 p-1 pl-3 dark:border-l-slate-800 dark:bg-gray-700 lg:flex-row lg:gap-5"
                    >
                        <span class="text-balance">Your OS was detected as not being Windows. Joining through the browser is only supported for Windows.</span>
                        <span class="flex gap-1">
                            <button (click)="hideWindowsOnlyTip = true" class="button w-20">Hide</button>
                        </span>
                    </div>
                }
            </div>
        }
    }
</nav>
