<ng-template #searchIcon>
    <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 69.96 69.96" stroke="currentColor" stroke-width="0.1" class="h-6 w-6">
        <g>
            <g>
                <path
                    d="M66.829,51.329L56.593,41.093c1.479-3.56,2.248-7.387,2.248-11.282c0-16.222-13.198-29.42-29.421-29.42 C13.198,0.391,0,13.589,0,29.811c0,16.223,13.198,29.421,29.42,29.421c4.318,0,8.518-0.932,12.37-2.724l9.931,9.932 c2.019,2.019,4.701,3.13,7.556,3.13s5.539-1.112,7.557-3.132c2.016-2.015,3.127-4.698,3.127-7.553 C69.96,56.032,68.849,53.348,66.829,51.329z M62.588,62.198c-0.914,0.915-2.113,1.372-3.312,1.372s-2.397-0.457-3.313-1.372 L42.798,49.031c-3.794,2.646-8.403,4.201-13.378,4.201C16.485,53.232,6,42.746,6,29.811s10.485-23.42,23.42-23.42 s23.421,10.485,23.421,23.42c0,4.57-1.314,8.832-3.578,12.438l13.325,13.325C64.418,57.403,64.418,60.369,62.588,62.198z"
                ></path>
                <path
                    d="M29.42,13.061c-9.235,0-16.749,7.514-16.749,16.75s7.514,16.75,16.749,16.75c9.236,0,16.75-7.514,16.75-16.75 S38.656,13.061,29.42,13.061z M29.42,40.561c-5.927,0-10.749-4.822-10.749-10.75s4.822-10.75,10.749-10.75 c5.928,0,10.75,4.822,10.75,10.75S35.348,40.561,29.42,40.561z"
                ></path>
            </g>
        </g>
    </svg>
</ng-template>

<app-header-left-content>
    @if (serverCount$ | async; as serverCount) {
        @if (serverCount) {
            <div class="content-center">{{ serverCount }} servers</div>
        }
    }
</app-header-left-content>

<app-header-right-content>
    <div class="relative flex gap-1">
        <button (click)="searchEnabled = !searchEnabled" class="button" [ngClass]="{ 'bg-slate-200 dark:bg-gray-600': searchEnabled }">
            <ng-container>
                <ng-container *ngTemplateOutlet="searchIcon"></ng-container>
            </ng-container>
        </button>
    </div>
</app-header-right-content>

<app-header-bottom-content>
    @if (searchEnabled) {
        <div class="ml-4 flex sm:ml-0 sm:justify-end">
            <div class="group relative z-0 w-full sm:w-auto">
                <input
                    (input)="onSearchInputChange($event)"
                    id="search"
                    class="peer block w-full appearance-none border-0 border-b-2 border-gray-300 bg-transparent px-0 py-1 text-sm text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0 dark:border-gray-600 dark:text-white dark:focus:border-blue-500 sm:w-60"
                    placeholder=""
                />
                <label
                    for="search"
                    class="absolute top-2 -z-10 line-clamp-1 origin-[0] -translate-y-5 scale-75 transform text-sm text-gray-500 transition-transform duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:start-0 peer-focus:-translate-y-5 peer-focus:scale-75 peer-focus:font-medium peer-focus:text-blue-600 dark:text-gray-400 peer-focus:dark:text-blue-500 rtl:peer-focus:left-auto rtl:peer-focus:translate-x-1/4"
                >
                    Search
                </label>
            </div>
        </div>
    }
</app-header-bottom-content>

@if (shouldShowConfigurationTip$ | async; as shouldShowConfigurationTip) {
    @if (shouldShowRegistryTip || shouldShowConfigurationTip || shouldShowWindowsOnlyTip) {
        <div class="default-text-color-highlight flex flex-col gap-1 bg-gray-100 p-1 text-sm font-bold dark:bg-gray-700">
            @if (shouldShowRegistryTip) {
                <div
                    class="ml-5 flex flex-col items-baseline justify-between border-l-4 border-l-gray-300 bg-gray-100 p-1 pl-3 dark:border-l-slate-800 dark:bg-gray-700 lg:flex-row lg:gap-5"
                >
                    <span class="text-balance">Joining a server through the web browser requires you to download Doomseeker and associate a url.</span>
                    <span class="flex gap-1">
                        <button (click)="openLearnMoreScheme()" class="button w-40">Learn more</button>
                        <button (click)="hideRegistryTip = true" class="button w-20">Hide</button>
                    </span>
                </div>
            }

            <!-- Check if anything was configured. If so hide the message because it can be assumed the user can find the configuration. -->
            @if (shouldShowConfigurationTip) {
                <div
                    class="ml-5 flex flex-col items-baseline justify-between border-l-4 border-l-gray-300 bg-gray-100 p-1 pl-3 dark:border-l-slate-800 dark:bg-gray-700 lg:flex-row lg:gap-5"
                >
                    <span class="text-balance">Consider configuring your settings to improve the shared data in this application.</span>
                    <span class="flex gap-1">
                        <button (click)="openConfigureScheme()" class="button w-32">Configure</button>
                        <button (click)="hidePersonalConfigurationTip = true" class="button w-20">Hide</button>
                    </span>
                </div>
            }

            <!--
                The user was detected to run a non Windows OS.
                I chose not to include mobile devices here because it seems obvious this is not possible.
            -->
            @if (shouldShowWindowsOnlyTip) {
                <div
                    class="ml-5 flex flex-col items-baseline justify-between border-l-4 border-l-gray-300 bg-gray-100 p-1 pl-3 dark:border-l-slate-800 dark:bg-gray-700 lg:flex-row lg:gap-5"
                >
                    <span class="text-balance">Your OS was detected as not being Windows. Joining through the browser is only supported for Windows.</span>
                    <span class="flex gap-1">
                        <button (click)="hideWindowsOnlyTip = true" class="button w-20">Hide</button>
                    </span>
                </div>
            }
        </div>
    }
}

@if (vm$ | async; as vm) {
    @if (vm.error) {
        <div class="text-warning bg-warning p-2 text-center font-medium">
            <h1>There was an error during server fetching. Try reloading the page.</h1>
        </div>
    }
}
<div class="flex grow overflow-auto">
    @if (settings$ | async; as settings) {
        <div class="w-0 min-w-0 overflow-x-hidden transition-all duration-500" [ngClass]="{ 'min-w-full md:min-w-[32rem]': this.selectedServer }">
            <app-server-sidebar
                *ngIf="this.selectedServer"
                [server]="this.selectedServer"
                [settings]="settings"
                (collapse)="onSidebarCollapse()"
            ></app-server-sidebar>
        </div>
    }

    <cdk-virtual-scroll-viewport itemSize="40" class="grow">
        @if (vm$ | async; as vm) {
            @if (vm.loading) {
                <app-listed-server-skeleton *ngFor="let i of [].constructor(100)"></app-listed-server-skeleton>
            } @else if (vm.servers) {
                <app-listed-server
                    *cdkVirtualFor="let server of vm.servers; trackBy: trackByItemId"
                    [server]="server"
                    [selected]="selectedServer === server"
                    [expandListMediaQuerySize]="expandListMediaQuerySize"
                    (clicked)="onServerClicked($event)"
                    class="select-none border-b"
                >
                </app-listed-server>
            }
        }
    </cdk-virtual-scroll-viewport>
</div>
