<div
    class="flex h-10 gap-2 px-4 py-2 aria-[selected='true']:bg-gray-200 aria-[selected='false']:hover:bg-gray-300 aria-[selected='true']:dark:bg-gray-900 aria-[selected='false']:dark:hover:bg-gray-600"
    [attr.aria-selected]="this.selected"
    [ngClass]="{
        'cursor-pointer': !server.fetching
    }"
>
    @if (server.fetching || server.state === 'id') {
        <div class="grow animate-pulse">
            <div class="h-full w-full rounded-full bg-gray-200 dark:bg-gray-700"></div>
        </div>
    } @else {
        <div class="relative h-6 min-w-6">
            <img [ngSrc]="engineUrl" class="mr-2 object-contain" fill />
        </div>
        <div class="relative h-6 min-w-6">
            <img [ngSrc]="flagUrl" class="mr-2 object-contain" fill />
        </div>

        <div class="line-clamp-1 grow self-center">
            {{ server.name }}
        </div>

        <!-- Minimum width still allows the tooltip to trigger with no players. -->
        <div class="flex min-w-10 max-w-40 flex-wrap justify-end gap-1" [tooltip]="playerCountTitle">
            <span class="sr-only">{{ playerCountTitle }}</span>

            @if (server.playingClientCount) {
                <span *ngFor="let item of [].constructor(server.playingClientCount)" class="min-w-3 bg-green-500"></span>
            }
            @if (server.spectatingClientCount) {
                <span *ngFor="let item of [].constructor(server.spectatingClientCount)" class="min-w-3 bg-green-500 opacity-30"></span>
            }
            @if (server.botCount) {
                <span
                    *ngFor="let item of [].constructor(server.botCount)"
                    class="pattern-rectangles min-w-3 pattern-slate-500 pattern-opacity-100 pattern-size-1"
                >
                </span>
            }
        </div>
    }

    @if (isWindows && !isMobile) {
        <a stop-propagation [href]="'zan://' + server.ip + ':' + server.port" class="button highlight ml-3 min-w-32 self-center text-center" type="button">
            Join
        </a>
    }
</div>
